gunicorn
pytest
httpx
bcrypt==4.0.1
passlib[bcrypt]
pandas
fastapi
typing
typing-extensions
uvicorn
pydantic
passlib
pyjwt
scikit-learn==1.3.1
numpy==1.24.4
joblib==1.3.2
category-encoders==2.6.2
pickleshare==0.7.5